<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="e_Sword9Converter.Properties.Settings.BHS_ConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\GoodOlClint\Desktop\Projects\e-Sword\Bibles\BHS+.bbl"
        providerName="System.Data.OleDb" />
    <add name="e_Sword9Converter.Properties.Settings.WOYSQLConnectionString"
        connectionString="Data Source=GOODOLCLINT-LAP\SQLEXPRESS;Initial Catalog=WOYSQL;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
